/* background logos */
.App-logo{
  position: absolute;
  opacity: 0.1;
}

#app-logo1 {
  height: 40vmin;
  right: 10vw;
  top: 2vh;
}
#app-logo2 {
  height: 30vmin;
  right: 5vw;
  top: 35vh;
}
#app-logo3 {
  height: 30vmin;
  right: 20vw;
  top: 50vh;
}
#app-logo4 {
  height: 15vmin;
  right: -6vw;
  top: 30vh;
  clip: rect(auto, 115px, auto, auto);
}
#app-logo5 {
  height: 15vmin;
  right: -6vw;
  top: 45vh;
  clip: rect(auto, 115px, auto, auto);
}

#app-logo6 {
  height: 15vmin;
  right: -6vw;
  top: 60vh;
  clip: rect(auto, 115px, auto, auto);
}


/* header - blue bg-section */

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  padding: 2vh 5vw 10vh 5vw;
}



#main-div {
  padding-top: 20vh;
  text-align: left;
  width: 40vw;
  font-size: 1.2rem;
}

#main-div h1 {
  line-height: 5rem;
  font-size: 6rem;
}

#main-div p {
  width: 30vw;
  margin: 3vh 0;
}

#main-div button {
  margin: 3vh 0;
  padding: 15px 25px;
  font-weight: 700;
}



/* CARD FILE */

#cards-main-div {
  margin: 10vh;
}